POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=tasks_db

AUTH_DATABASE_URL=postgresql://user:password@db:5432/tasks_db
TASK_DATABASE_URL=postgresql://user:password@db:5432/tasks_db
NOTIFICATION_DATABASE_URL=postgresql://user:password@db:5432/tasks_db

JWT_SECRET_KEY=change_this_secret_key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

AUTH_SERVICE_PORT=8001
TASK_SERVICE_PORT=8002
NOTIFICATION_SERVICE_PORT=8003
FRONTEND_PORT=3000

LOG_LEVEL=INFO
